<script src="/js/jquery.colorbox-min.js"></script>


		<script>
			$(document).ready(function(){
				$(".ajax").colorbox();
			});
		</script>
		<link rel="stylesheet" id="responsive-css" href="/css/colorbox.css" type="text/css" media="all">
		<div class="col-620 grid">&copy; 2013 NRG Residential Solutions | All rights reserved
            <div class="clear"></div>
            <div class="social-icons">
            </div>
            <div class="clear"></div>
        </div>
        <div class="col-280 grid-right">
        	<ul class="footer-menu">
            </ul>
        </div>
        <div class="clear"></div>
